@import url(http://fonts.googleapis.com/css?family=Raleway);

/* chattsidan */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #171814;
}

.chattbox p {
  margin-left:10px;
  margin-top:30px;
  width:98%;
}

.p-chatt-styling {
  border-bottom:1px solid black;
}

.chattbox {
  margin: 0 auto;
  height: 470px;
  width: 100%;
  overflow-y: scroll;
  border-radius:2px;
  background-color:white;
  box-shadow: inset -3px -8px 0px -6px rgba(0,0,0,0.75);
}
.chattwrapper {
  width: 70%;
  height: 800px;
  margin:0 auto;
  margin-top:50px;
	display: inline-block;
}
.chatt-input{
  background-color: #171814;
  height: 40px;
  margin-top: 5px;
  display:flex;
}
.input-field{
  height: 37px;
  width: 90%;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  border-radius:2px;
  border:0;
  padding-left:5px;
}
.send-btn {
  font-family: 'Raleway', sans-serif;
  border-radius: 2px;
  width: 10%;
  color: white;
  font-size: 15px;
  margin-left: 5px;
  height: 40px;
  background-color: rgba(32,145,153,1);
  border: 0;
  opacity:0.8;
  transition:0.5s;

}
.send-btn:hover {
  opacity:1;
  transition:0.5s;
  cursor: pointer;
}
.chattbox > p {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 2em;
}

/*Users listan*/
.user-list-wrapper {
	width: 15%;
	color: white;
	display: inline-block;
	margin: 1em;
	font-family: 'Raleway';
}
.user-list-wrapper > ul > li {
	padding-bottom: 1em;
}
